@use '../../styles/defs' as *;


.top-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-darker;

    > nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: $density-normal;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;

            > li {
                margin: 0 $density-normal;
            }
        }

        .icon-profile {
            display: flex;
            background-color: inherit;
            border: none;
            cursor: pointer;

            margin: 0 $density-normal;
            padding: $density-small;
            background-color: $color-primary;
            background-size: cover;
            color: $color-dark;
            border-radius: 100%;
            border: 0.1rem solid $color-lighter;

            > svg {
                width: 1.6em;
                height: 1.6em;
            }
        }

        .profile-popup-container {
            position: relative;
            transition: opacity 200ms;

            &.invisible {
                opacity: 0;
                height: 0;
                overflow: hidden;
            }

            > .profile-popup {
                position: absolute;
                top: $density-normal;
                padding: $density-large $density-normal 0 $density-normal;

                background-color: $color-medium-dark;
                border-radius: $density-small;
                border: 0.1rem solid $color-medium-light;
                color: $color-lighter;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: $density-normal;

                width: max-content;

                &::before {
                    content: '';
                    position: absolute;
                    border: calc(0.5em + 0.1rem) solid transparent;
                    border-bottom-color: $color-medium-light;
                    width: calc(1em + 0.2rem);
                    height: calc(1em + 0.2rem);
                    top: calc(-1em - 0.2rem);
                    right: calc(#{$density-large} - 0.1rem);
                }

                &::after {
                    content: '';
                    position: absolute;
                    border: 0.5em solid transparent;
                    border-bottom-color: $color-medium-dark;
                    width: 1em;
                    height: 1em;
                    top: -1em;
                    right: $density-large;
                }

                .icon-profile {
                    cursor: inherit;

                    > svg {
                        width: 6em;
                        height: 6em;
                    }
                }

                > ul {
                    border-top: 0.1rem solid $color-medium-light;

                    padding: $density-normal;
                }
            }
        }

        > .search-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 $density-normal;

            height: fit-content;
            width: calc(min(25vw + 2rem, 15em));
            border-radius: 1000rem;
            border: 0.1rem solid $color-light;
            background-color: inherit;
            transition: 100ms ease-in-out;

            &:hover {
                border-color: $color-lighter;
            }

            > input {
                background-color: transparent;
                border: none;

                padding: $density-small $density-normal $density-small 0;
                width: 100%;
                outline: none;
                color: inherit;
            }

            > button {
                border: none;
                border-radius: 100%;
                background-color: transparent;
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 100%;
                transition: 100ms ease-in-out;

                &:hover {
                    color: $color-lighter;
                }
            }
        }
    }
}
