@import url(main.css);
:root {
  --card-min-width: 20rem;
  --font-size: 1.6rem ;
}

@media (max-width: 800px) {
  :root {
    --card-min-width: 18rem;
    --font-size:1.4rem;
  }
}
@media (max-width: 600px) {
  :root {
    --card-min-width: 14rem;
    --font-size: 1.2rem;
  }
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite, code,
dd, del, details, dfn, div, dl, dt, em, embed,
fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins,
kbd, label, legend, li, mark, menu, nav, object, ol, output,
p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  box-sizing: content-box;
  min-height: 100vh;
  margin: auto;
  font-size: var(--font-size);
  background-color: #2C2E43;
  color: #B2B1B9;
}

input, button {
  color: inherit;
  font-size: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.page {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "top-bar      side-bar" "page-content side-bar";
}
.page > .page-inner {
  width: 100%;
}

.side-bar {
  grid-area: side-bar;
  width: fit-content;
  background-color: #181924;
}
.side-bar > .side-bar-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  position: sticky;
  top: 0;
}
.side-bar > .side-bar-inner > .side-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #FFD523;
  padding: 2rem;
}
.side-bar > .side-bar-inner > .side-logo > .logo-image {
  display: inline;
  width: 3em;
  height: 3em;
}
.side-bar > .side-bar-inner > .side-logo > .logo-title {
  font-size: 1.5em;
}
.side-bar > .side-bar-inner > nav {
  font-weight: bold;
}
.side-bar > .side-bar-inner > nav > ul {
  display: flex;
  flex-direction: column;
}
.side-bar > .side-bar-inner > nav > ul .icon-desc {
  margin-right: 1rem;
  width: max-content;
}

@media (max-width: 600px) {
  .side-bar > .side-bar-inner > .side-logo {
    padding: 1rem;
    margin: 0;
  }
  .side-bar > .side-bar-inner > .side-logo > .logo-image {
    width: 2em;
    height: 2em;
  }
  .side-bar > .side-bar-inner > .side-logo .logo-title {
    display: none;
  }
  .side-bar > .side-bar-inner > nav > ul > li > * {
    padding: 1rem;
  }
  .side-bar > .side-bar-inner > nav > ul .icon {
    width: 2em;
    height: 2em;
  }
  .side-bar > .side-bar-inner > nav > ul .icon-desc {
    display: none;
  }
}
.top-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #222334;
  grid-area: top-bar;
}
.top-bar > nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.top-bar > nav > ul {
  display: flex;
  flex-direction: row-reverse;
}
.top-bar > nav > ul > li {
  margin: 0 1rem;
}
.top-bar > nav > .search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1rem;
  height: fit-content;
  width: calc(min(25vw + 2rem, 15em));
  border-radius: 1000rem;
  border: 0.1rem solid #B2B1B9;
  background-color: inherit;
  transition: 100ms ease-in-out;
}
.top-bar > nav > .search-box:hover {
  border-color: #e7e7e9;
}
.top-bar > nav > .search-box > input {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem 0.5rem 0;
  width: 100%;
  outline: none;
  color: inherit;
}
.top-bar > nav > .search-box > button {
  border: none;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 100%;
  transition: 100ms ease-in-out;
}
.top-bar > nav > .search-box > button:hover {
  color: #e7e7e9;
}

.page-content {
  grid-area: page-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: #181924;
  padding: 1rem 2rem;
}

.button-pill {
  display: inline-block;
  border-radius: 1000rem;
  border: 0.1rem solid #B2B1B9;
  padding: 0.5rem 1rem;
  transition: 100ms ease-in-out;
}
.button-pill:hover {
  color: #e7e7e9;
  border-color: #e7e7e9;
}

.button-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: 100ms ease-in-out;
}
.button-block:hover {
  background-color: #222334;
}
.button-block.selected {
  background-color: #2C2E43;
}

.icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  color: #e7e7e9;
}

.shelf {
  padding: 1rem;
}
.shelf .shelf-title {
  padding: 1rem;
  color: #e7e7e9;
}
.shelf .shelf-items {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
  margin: calc(-$density-normal + 2px);
  padding: calc($density-normal - 2px);
}
.shelf .shelf-items > * {
  margin: 1rem;
}
.shelf .shelf-items .shelf-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  background-color: #222334;
  border-radius: 0.5rem;
  gap: 1rem;
  transition: 200ms ease-in-out;
}
.shelf .shelf-items .shelf-card > .card-image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.shelf .shelf-items .shelf-card > .card-image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.shelf .shelf-items .shelf-card > span {
  text-align: center;
  color: #e7e7e9;
}
.shelf .shelf-items .shelf-card:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=shelf.css.map */
