@use '../../styles/defs' as *;

.page {
    min-height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'side-bar top-bar     '
        'side-bar page-content';

    > .top-bar-container {
        grid-area: top-bar;

        position: sticky;
        top: 0;
        z-index: 1;
        background-color: $color-darker;
    }

    > .side-bar-container {
        grid-area: side-bar;

        width: fit-content;
    }
}

.page-content {
    grid-area: page-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: $color-darkest;
    padding: $density-normal $density-large;
}

main {
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'banner'
        'table';
    justify-items: stretch;
}

// TODO: fix me
// ::ng-deep .toast-container.toast-top-left {
//     top: calc(1.8em + #{$density-larger});
// }
