@import "../../styles";

body {
  box-sizing: content-box;
  min-height: 100vh;
  margin: auto;
  font-size: var(--font-size);

  background-color: $color-dark;
  color: $color-light;
}

.page {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
        'top-bar      side-bar'
        'page-content side-bar';

  > .page-inner {
    width: 100%;
  }
}

.side-bar {
  grid-area: side-bar;

  width: fit-content;
  background-color: $color-darkest;

  > .side-bar-inner {
    display: flex;
    flex-direction: column;
    gap: $density-normal;
    padding: $density-small;

    position: sticky;
    top: 0;

    > .side-logo {
      display: flex;
      gap: $density-normal;
      align-items: center;

      color: $color-primary;
      padding: $density-large;

      > .logo-image {
        display: inline;
        width: 3em;
        height: 3em;
      }

      > .logo-title {
        font-size: 1.5em;
      }
    }

    > nav {
      font-weight: bold;

      > ul {
        display: flex;
        flex-direction: column;

        .icon-desc {
          margin-right: $density-normal;
          width: max-content;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .side-bar > .side-bar-inner {
    > .side-logo {
      padding: $density-normal;
      margin: 0;

      > .logo-image {
        width: 2em;
        height: 2em;
      }

      .logo-title {
        display: none;
      }
    }

    > nav {
      > ul {
        > li > * {
          padding: $density-normal;
        }

        .icon {
          width: 2em;
          height: 2em;
        }

        .icon-desc {
          display: none;
        }
      }
    }
  }
}
