@use '../../styles/defs' as *;

$width-number: 2em;
$width-thumbnail: 5rem;
$width-date: 7em;
$width-like-icon: 1.5em;
$width-duration: 3em;

.songtable {
    padding: $density-normal;

    .list-empty {
        padding: $density-normal;
    }

    .header {
        border-bottom: 0.15rem solid $color-medium;
        margin-bottom: $density-normal;
    }

    .row,
    .header {
        display: grid;
        grid-template-columns: $width-number $width-thumbnail 1fr 2fr $width-date $width-like-icon $width-duration;
        gap: $density-normal;

        justify-items: start;
        padding: $density-normal;
        align-items: center;

        @media (max-width: 1000px) {
            grid-template-columns: $width-number $width-thumbnail 1fr 1fr $width-like-icon $width-duration;

            .publish-date {
                display: none;
            }
        }
    }

    &.remove-album {
        .row,
        .header {
            grid-template-columns: $width-number 1fr $width-like-icon $width-duration;

            .publish-date {
                display: hidden;
            }
        }
    }

    .row {
        border-radius: $density-normal;
        transition: background-color 200ms ease-in-out;

        &:hover {
            background-color: $color-medium-dark;
        }
    }

    img {
        width: 5rem;
        height: 5rem;
    }
}
