<div class="songtable" [ngClass]="{ 'remove-album': removeAlbum }">
    <div class="header">
        <div>&nbsp;#</div>
        <div>آهنگ</div>
        <div *ngIf="!removeAlbum"></div>
        <div *ngIf="!removeAlbum">آلبوم</div>
        <div *ngIf="!removeAlbum" class="publish-date">تاریخ انتشار</div>
        <div></div>
        <div>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="icon"
                viewBox="0 0 16 16"
            >
                <path
                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
                />
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
            </svg>
        </div>
    </div>
    <div *ngFor="let song of songs" class="row">
        <div>
            <button class="icon-button">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="icon icon-play"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                    <path
                        d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"
                    />
                </svg>
            </button>
            <button class="icon-button hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="icon icon-pause selected"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                    <path
                        d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z"
                    />
                </svg>
            </button>
        </div>
        <img *ngIf="!removeAlbum" [src]="song.cover" alt="" />
        <div>
            <h4>
                <a [routerLink]="['/song', song.id]">{{ song.name }}</a>
            </h4>
            <div *ngIf="!removeAlbum">
                <a [routerLink]="['/artist', song.artist]">
                    <small>{{ song.artist }}</small>
                </a>
            </div>
        </div>
        <div *ngIf="!removeAlbum">
            <a [routerLink]="['/album', song.id]">{{ song.name }}</a>
        </div>
        <div *ngIf="!removeAlbum" class="publish-date">
            {{ song.publishDate | date: 'MMM yyyy' | persianNumeral }}
        </div>
        <div>
            <button class="icon-button">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="icon"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                    />
                </svg>
            </button>
            <button class="icon-button hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="icon selected"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                    />
                </svg>
            </button>
        </div>
        <div>{{ songDuration[song.id] | duration | persianNumeral }}</div>
    </div>
    <h1 class="list-empty" [hidden]="!loaded || songs.length > 0">آهنگی وجود ندارد!</h1>
</div>
