@use '_defs' as *;

main {
  height: 100%;
}

.main-content {
  background-image: linear-gradient(to bottom, $color-darker 0, $color-dark 20rem);
  

  .songtable {
    padding: $density-normal;
    .header{
      border-bottom: 0.15rem solid $color-medium;
      margin-bottom: $density-normal;
    }

    .row, .header{
      display: grid;
      grid-template-columns: 1.2em 5rem 1fr 2fr 8em 1.5em 3em;
      gap: $density-normal;

      justify-items: start;
      padding: 1rem;
      align-items: center;
    }

    &.in-album {
      .row, .header {
        grid-template-columns: 1.2em 1fr 1.5em 3em;
      }
    }
    
    &.in-song {
      .row, .header {
        grid-template-columns: 1.2em 1fr 1.5em 3em;
      }
    }

    .row {
      border-radius: $density-normal;
      &:hover{
        background-color: $color-medium;
        transition: 500ms;
      }
    }

    img{
      width: 5rem;
      height: 5rem;
    }

    .row .icon{
      margin-top: 0.5em;
      cursor: pointer;

      &.icon-play {
        transform: scaleX(-1);
      }

      &:hover{
        fill: $color-primary;
        transition: 300ms;
      }

      &.filled{
        color: $color-primary;
      }
    }

  }
}

@media screen and (max-width: 800px) {
  .main-content {
    .songtable {
      .row,.header {
        grid-template-columns: 0.8em 5rem 1fr 2fr 1.5em 2em;
        > *:nth-child(5) {
          display: none;
        }
      }
    }
  }
}

.song-lyrics {
  padding: $density-large;
  > summary {
    cursor: pointer;
    > h2 {
      display: inline;
    }
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

