@use '_defs' as *;

main {
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'banner'
        'table';
    justify-items: stretch;
}

.main-content {
    grid-area: table;
    background-image: linear-gradient(to bottom, $color-darker 0, $color-dark 20rem);

    .songtable {
        padding: $density-normal;

        .list-empty {
            padding: $density-normal;
        }

        .header {
            border-bottom: 0.15rem solid $color-medium;
            margin-bottom: $density-normal;
        }

        .row,
        .header {
            display: grid;
            grid-template-columns: 2em 5rem 1fr 2fr 1.5em 2em;
            gap: $density-normal;

            justify-items: start;
            padding: $density-normal;
            align-items: center;
            
            @media (max-width: 1000px) {
                grid-template-columns: 2em 5rem 1fr 1fr 1.5em 2em;
            }
        }

        &.in-album {
            .row,
            .header {
                grid-template-columns: 2em 1fr 1.5em 3em;
            }
        }

        &.in-song {
            .row,
            .header {
                grid-template-columns: 2em 1fr 1.5em 3em;
            }
        }

        .row {
            border-radius: $density-normal;
            transition: 200ms ease-in-out;

            &:hover {
                background-color: $color-medium;
            }
        }

        img {
            width: 5rem;
            height: 5rem;
        }
    }
}

.song-lyrics {
    padding: $density-large;
    > summary {
        width: fit-content;
        cursor: pointer;
        > h2 {
            display: inline;
        }
    }

    p {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
