<div class="banner in-song">
  <div class="banner-image">
    <img id="image" alt="" />
  </div>
  <div class="banner-desc">
    <h1 id="songName"></h1>
    <div><a id="albumName"></a></div>
    <div>
      <strong>
        <a id="singerName"></a>
      </strong>
    </div>
  </div>
</div>
<div class="main-content">
  <div id="songTable" class="songtable in-song">
    <div class="header">
      <div></div>
      <div>آهنگ</div>
      <div></div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="icon"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
          />
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
          />
        </svg>
      </div>
    </div>
  </div>
  <details class="song-lyrics">
    <summary><h2>متن آهنگ</h2></summary>
    <p id="songLyrics"></p>
  </details>
</div>

